---
---

main {
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: #333333;
      color: #FFFFFF;
    }
    th, td {
      border: 1px solid #CCCCCC;
    }
  }
}